@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

html,
body {
  color: white;
  margin: 0;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
}

a {
  color: white;
  text-decoration: none;
  font-size: min(4vh, 32px, 4vw);
}

h1,
h2 {
  -webkit-text-stroke: 2px black;
}

h1 {
  font-size: min(8vh, 64px, 8vw);
}

h2 {
  text-align: center;
  font-size: min(6vh, 48px, 6vw);
}
