@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

html,
body {
  margin: 0;
}

body {
  background-color: #0a0f1e;
  color: white;
  font-family: 'Rubik', sans-serif;
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 16vh 68vh 16vh;
  grid-template-areas:
    "header header"
    "rgb    hsl"
    "footer footer";
}

a {
  color: #fff;
  text-decoration: none;
  padding: 0 32px 32px 32px;
}

h1 {
  font-size: min(8vh, 64px, 8vw);
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
  font-size: min(32px, 8vh);
  text-shadow: 0px 0px 16px white;
  font-weight: 300;
}

img {
  max-width: 40vw;
  max-height: 48vh;
}

div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  font-size: min(48px, 16vh);
}

a.subpage:hover {
  background-color: #1a1f2e;
}
